<%= form_with(model: rsa, local: true) do |form| %>
  <% if rsa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsa.errors.count, "error") %> prohibited this rsa from being saved:</h2>

      <ul>
      <% rsa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
